
body{
    font-family:Arial, Helvetica, sans-serif;
    background-size:cover;
    background: #121216;
    
}

header{
    display:flex;
    height:100%;
    background-color: #121216;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 24px;
    text-decoration-color: rgba(255, 255, 255, 0.108);
}

.logo .bu1{
    border-radius: 8px;
    border: 1px solid rgba(234, 224, 224, 0.39);
    display: flex;
    height: 80px;
    width:200px;
    margin: 1px;
    display: inline-block;
    padding:10px 10px;
    font-weight: 700px;
    text-decoration:none;
    background-color: transparent;
    color:#FFFFFF;    

} 


.logo .bu1 img{
    height: 20px;
}  

.logo .bu2{
    float: left;
    display:flex;
    border: 1px solid white;
    padding:10px 10px;
    font-weight: 700px;
    text-transform: uppercase;
    text-decoration:none;
    background-color: transparent;
    color:#FFFFFF;   
    border-radius: 30px;   

}  


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-size: 16px;
    text-align:center;
    
}

.top{
    display:flex;
    flex-direction:column;
    align-items: center;
   
    width:660px;
}

.content{
    padding: 1px;
  
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
}

h1{
    color: #FFFFFF;
    text-align:center;
}

.morado{
    margin-top:auto;
    margin-bottom:20px;
    border-radius: 20px;
    font-size: 16px;
    color:#FFFFFF;
    background:linear-gradient(57.8deg,#6b42b4 9.75%,#943aab 95.44%);
}

.morado .bu3{
    font-weight: bold;
    position: relativate;
    display: inline-block;
    border: 0px solid;
    padding:20px 80px;
    color:#ffffff;
    text-transform: uppercase;
    text-decoration:none;
    background: #101010;
    border-radius: 30px;
}

.morado .bu3:hover{
    color:#000000;
    background-color:#FFFFFF ;
}

.morado a{
    color:#FFFFFF;
}

.morado h3{
    text-align: center;
    font-size: 30px; 
}

.naranja{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    color:#FFFFFF;
    background: linear-gradient(53.13deg,#dc4c11 10.71%,#feab2e);
}

.naranja .bu4{
    font-weight: bold;
    position: relativate;
    display: inline-block;
    border: 0px solid;
    padding:20px 80px;
    color:#ffffff;
    text-transform: uppercase;
    text-decoration:none;
    background: #101010;
    border-radius: 30px;
}

.naranja .bu4:hover{
    color:#000000;
    background-color:#FFFFFF ;
}

.naranja a{
    color:#FFFFFF;
}

.naranja  h3{
    text-align: center;
    font-size: 30px; 
}


.negro{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    color:#FFFFFF;
    background: linear-gradient(180deg,#202122,#3a3b47);
}

.negro img{
    height: 20px;
}

.negro .bu5{
    font-weight: bold;
    position: relativate;
    display: inline-block;
    border: 0px solid;
    padding: 20px 50px;
    color:#ffffff;
    text-transform: uppercase;
    text-decoration:none;
    background: #101010;
    border-radius: 30px;
    font-weight: 24px;
}

.negro .bu5:hover{
    color:#000000;
    background-color:#FFFFFF ;
    font-weight: 24px;
}

.negro a{
    color:#FFFFFF;
}

.azul_claro{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    color:#FFFFFF;
    background: linear-gradient(69.06deg,#b84fdd -26.76%,#4965f4 44.6%,#2efb74 132.54%);
}


.azul_claro .bu6{
    font-weight: bold;
    position: relativate;
    display: inline-block;
    border: 0px solid;
    padding:20px 80px;
    color:#ffffff;
    text-transform: uppercase;
    text-decoration:none;
    background: #101010;
    border-radius: 30px;
    font-weight: 24px;
}

.azul_claro .bu6:hover{
    color:#000000;
    background-color:#FFFFFF ;
    font-weight: 24px;
}

.azul_claro a{
    color:#FFFFFF;
}

.azul_claro h3{
    text-align: center;
    font-size: 30px; 
}

.Boton1 .bu7{
    float: left;
    display:flex;
    border: 1px solid white;
    padding:10px 10px;
    font-weight: 700px;
    text-transform: uppercase;
    text-decoration:none;
    background-color: transparent;
    color:#FFFFFF;   
    border-radius: 30px;   
}


